.hero-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: calc(100vh - 3.5rem);
	width: 100vw;
	max-width: 100%;
	background: url(../images/hero_bg_right.jpg) no-repeat center right;
	background-size: cover;
	margin: 3.5rem auto 0 auto;
	padding: 1rem 0;
	position: relative;
}

.hero-container::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--clr-black);
	filter: opacity(0.3);
}

.greet-card {
	margin: auto 0;
	margin-left: 4rem;
	color: var(--clr-black);
	width: min(650px, 80vw);
	background: var(--clr-white);
	padding: 2rem 1.5rem;
	border-radius: var(--border-radius-lg);
	box-shadow: var(--main-boxshadow);
	z-index: 2;
}

.greet-card h1 {
	display: flex;
	flex-direction: column;
	font-size: 3rem;
	margin-top: -0.75rem;
	line-height: 56px;
	animation: fade-greet-text 0.5s ease-in forwards;
	opacity: 0;
	z-index: 0;
	letter-spacing: -0.035em;
}

.greet-info {
	position: relative;
	padding: 1rem;
	margin: 1rem 0;
}

.greet-card {
	p {
		font-size: 1.25rem;
		margin-bottom: 1.25rem;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

@media screen and (max-width: 800px) {
	.hero-container {
		justify-content: flex-end;
		align-items: flex-start;
		background: url(../images/hero_bg_center.jpg) no-repeat top center;
		background-size: cover;
	}

	.greet-card {
		margin: auto auto;
		width: 90vw;
	}
}

@media screen and (max-width: 500px) {
	.greet-card {
		padding: 1.5rem 1rem;
	}

	.greet-card h1 {
		font-size: 3rem;
	}

	.greet-info {
		margin: 0.5rem 0 1.5rem 0;
	}

	.greet-buttons {
		gap: 0.5rem;
	}
}
