/* Font */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap');

/* Master styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--clr-body: #eee;
	--clr-secondary: hsl(265, 34%, 65%);
	--clr-black: #1b1b1b;
	--clr-black-light: #2e2e2e;
	--clr-white: #fafafa;
	--clr-white-light: #a8a8a8;
	--fast-transition: all 0.2s ease;
	--slow-transition: all 0.3s ease;
	--main-boxshadow: 0px 1px 13px 0px rgba(27, 27, 27, 0.35);
	--main-border-radius: 4px;
	--border-radius-lg: 8px;
	--main-border-radius-top: 4px 4px 0 0;
}

html {
	overflow-x: hidden;
	overflow-y: scroll; /* Show scrollbars */
}

body {
	font-family: 'Titillium Web', sans-serif;
	background: var(--clr-body);
	overflow-x: hidden;
}

h1,
.content-header h2 {
	font-size: 2.5rem;
	margin-bottom: 1rem;
	line-height: 46px;
}

h2,
h3 {
	font-size: 1.75rem;
	line-height: 32px;
	margin-bottom: 1rem;
}

.container {
	display: flex;
	flex-direction: column;
	width: min(1140px, 92vw);
	min-height: calc(100vh - 3.5rem);
	margin: 3.5rem auto 0 auto;
	position: relative;
}

.to-top {
	cursor: pointer;
	position: fixed;
	bottom: 0.7rem;
	right: 1.25rem;
	height: 2.6rem;
	width: 2.6rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--clr-white);
	color: var(--clr-black);
	font-size: 1.5rem;
	text-decoration: none;
	border-radius: 50%;
	border: solid 2px var(--clr-black);
	transition: var(--slow-transition);
	opacity: 0;
	pointer-events: none;
	z-index: 10;
}

.to-top:hover,
.to-top:focus-visible {
	color: var(--clr-white);
	background: var(--clr-secondary);
	outline: solid 2px var(--clr-white);
}

.to-top.active {
	bottom: 1.15rem;
	opacity: 1;
	pointer-events: auto;
	animation: pulse 2s infinite;
	animation-delay: 1s;
}
/* EndMaster styles */

/* Navbar styles */
.navbar {
	width: 100%;
	height: 3.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	background: var(--clr-black);
	box-shadow: var(--main-boxshadow);
	position: fixed;
	top: 0;
	user-select: none;
	z-index: 100;
}

.nav-header {
	padding-left: 1rem;
}

.nav-header span a {
	font-weight: 700;
	color: var(--clr-white);
	font-size: 2rem;
	text-decoration: none;
}

.nav-links {
	width: min(50%, 550px);
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	transition: var(--slow-transition);
	list-style: none;
}

.nav-links .active {
	color: var(--clr-white);
}

li a {
	display: block;
	overflow: hidden;
	position: relative;
}

li a.list-item:hover:after,
li a.list-item:focus-visible:after {
	transform-origin: left center;
	transform: scaleX(1);
}

li a.list-item::after {
	content: '';
	position: absolute;
	display: flex;
	bottom: 0px;
	height: 1px;
	width: 100%;
	transform: scaleX(0);
	background: var(--clr-white);
	transform-origin: right center;
	transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1),
		-webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-links li a {
	color: var(--clr-white-light);
	text-decoration: none;
	font-size: 1.25rem;
	transition: var(--fast-transition);
}

.nav-links li:hover a {
	color: var(--clr-white);
}

.nav-links li a:focus-visible {
	color: var(--clr-white);
}

.burger {
	margin-right: 1rem;
	display: none;
	transition: var(--fast-transition);
	cursor: pointer;
}

.burger > div {
	width: 25px;
	height: 3px;
	margin: 5px;
	background: var(--clr-white);
	transition: var(--fast-transition);
}
/* End Navbar styles */

/* Hero styles */
.hero-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: calc(100vh - 3.5rem);
	width: 100vw;
	max-width: 100%;
	background: url(../src/images/hero_bg_right.jpg) no-repeat center right;
	background-size: cover;
	margin: 3.5rem auto 0 auto;
	padding: 1rem 0;
	position: relative;
}

.hero-container::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--clr-black);
	filter: opacity(0.3);
}

.greet-card {
	margin: auto 0;
	margin-left: 4rem;
	color: var(--clr-black);
	width: min(650px, 80vw);
	background: var(--clr-white);
	padding: 2rem 1.5rem;
	border-radius: var(--border-radius-lg);
	box-shadow: var(--main-boxshadow);
	z-index: 2;
}

.greet-card h1 {
	display: flex;
	flex-direction: column;
	font-size: 3rem;
	margin-top: -0.75rem;
	line-height: 56px;
	animation: fade-greet-text 0.5s ease-in forwards;
	user-select: none;
	opacity: 0;
	z-index: 0;
}

.greet-info {
	position: relative;
	padding: 1rem;
	margin: 1rem 0;
}

.greet-card p {
	font-size: 1.25rem;
}

.btn {
	display: inline-block;
	background: var(--clr-black);
	color: var(--clr-white);
	text-align: center;
	padding: 0.35rem 1.35rem;
	border-radius: var(--main-border-radius);
	transition: var(--slow-transition);
	box-shadow: var(--main-boxshadow);
	text-decoration: none;
	user-select: none;
	cursor: pointer;
	outline: solid 3px transparent;
	background-size: 200% auto;
	background-image: linear-gradient(
		to right,
		var(--clr-black) 0%,
		var(--clr-black-light) 51%,
		var(--clr-black) 100%
	);
}

.greet-buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.greet-buttons .btn {
	font-size: 1.25rem;
	min-height: 41.6px;
}

.btn:hover,
.btn:focus-visible {
	background-position: 99%;
}

.btn:focus-visible {
	outline: solid 3px var(--clr-black);
}

.btn:active {
	background-position: 0%;
}

/* End Hero styles */

/* projects styles */
.content-container {
	margin-top: 3rem;
	margin-bottom: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.content-header {
	margin-bottom: 3rem;
}

.header-underline {
	height: 5px;
	width: 66%;
	margin: 0 auto;
	background: var(--clr-secondary);
}

.project-items {
	width: 100%;
	display: flex;
	row-gap: 0.75rem;
	flex-direction: column;
	margin-bottom: 3rem;
	box-shadow: var(--main-boxshadow);
	border-radius: var(--border-radius-lg);
	color: var(--clr-black);
	background: var(--clr-white);
}

.project-item {
	display: flex;
	min-height: 350px;
	overflow: hidden;
}

/* Reverses rows */
.project-item.row-reverse {
	flex-direction: row-reverse;
}

/* fix project img hover overflow */
.project-item:first-child {
	border-radius: 4px 0 0 0;
}
.project-item:last-child {
	margin-bottom: 1rem;
}

.project-image {
	width: 50%;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.index {
	position: absolute;
	top: 16px;
	color: var(--clr-black);
	font-weight: 300;
	border-radius: 50%;
	font-size: 1.25rem;
	user-select: none;
	pointer-events: none;
	line-height: 24px;
}

.project-item:nth-child(odd) .index {
	left: 24px;
}

.project-item:nth-child(even) .index {
	right: 24px;
}

.project-image img {
	width: 100%;
	height: 100%;
	transition: var(--fast-transition);
	object-fit: cover;
	overflow: hidden;
	max-height: 400px;
}

.project-image:hover img {
	transform: scale(1.02);
	border-radius: var(--border-radius-lg);
}

.project-items .project-item:first-child img {
	border-radius: 4px 0 0 0;
}

.project-items hr {
	width: calc(100% - 3rem);
	margin: 0 auto;
	border: none;
	border-top: dashed 1.6px var(--clr-white-light);
	height: 1.6px;
}

.project-text {
	width: 50%;
	padding: 1rem 1.5rem;
}

.project-header {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.project-tech-icons {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 1rem;
}

.project-tech-icons span {
	display: flex;
}

.project-tech-icons svg {
	width: 1.75rem;
	height: 1.75rem;
	pointer-events: none;
	fill: var(--clr-black);
}

.project-content {
	white-space: pre-line;
	position: relative;
	min-height: 207px;
	padding: 1rem;
}

.project-body {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.project-button-container {
	display: flex;
	gap: 1rem;
	padding: 0 1rem;
}

.project-info {
	margin-bottom: 0.5rem;
}

.corner {
	position: absolute;
	background: var(--clr-secondary);
}

.top-x {
	top: 0;
	left: 0;
	height: 1.6px;
	width: 224px;
}
.top-y {
	top: 0;
	left: 0;
	height: 74.66px;
	width: 1.6px;
}
.bottom-x {
	bottom: 0;
	right: 0;
	height: 1.6px;
	width: 224px;
}
.bottom-y {
	bottom: 0;
	right: 0;
	height: 74.66px;
	width: 1.6px;
}
/* End projects styles */

/* About styles */
.about-content-container {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(2, 1fr);
	margin-bottom: 2rem;
}

.about-content {
	background-color: var(--clr-white);
	border-radius: var(--border-radius-lg);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	box-shadow: var(--main-boxshadow);
}

.about-content:first-child {
	padding: 0;
	overflow: hidden;
}

.about-content > div {
	padding: 1rem;
	position: relative;
	height: 100%;
}

.about-content ul {
	margin-left: 1rem;
}

.about-content ul li {
	margin-bottom: 0.5rem;
}

.about-content ul li:last-of-type {
	margin-bottom: 0rem;
}

.about-image {
	background: url(../src/images/about_image.jpg) no-repeat center top;
	padding: 0rem !important;
	background-size: cover;
}

.about-image::after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--clr-black);
	filter: opacity(0.3);
	border-radius: 4px 0 0 4px;
}

.about-content .project-tech-icons {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
}

.about-content .project-tech-icons span {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60px;
}

.about-content .project-tech-icons svg {
	height: 2.5rem;
	width: 2.5rem;
}
/* End About styles */

/* Footer */
.footer {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding: 5rem 1rem 1.5rem;
	width: 100%;
	background: var(--clr-black);
	color: var(--clr-white);
}

.footer p {
	text-align: center;
	margin-bottom: 0.5rem;
}

.footer-links {
	display: flex;
	justify-content: space-around;
	margin-bottom: 1.5rem;
	padding-bottom: 1.5rem;
	width: min(350px, 90vw);
	border-bottom: solid 2px var(--clr-secondary);
}

.footer-links a {
	padding: 0.25rem;
}

.react-tooltip {
	--rt-opacity: 1;
	background-color: var(--clr-black) !important;
	color: var(--clr-white) !important;
	z-index: 1000 !important;
}

.footer-icon {
	height: 2rem;
	width: 2rem;
	color: var(--clr-white);
	transition: var(--fast-transition);
}

.footer-links a:hover .footer-icon,
.footer-links a:focus-visible .footer-icon {
	color: var(--clr-secondary);
}
/* End Footer */

/* Media Queries */
@media screen and (max-width: 1200px) {
	.greet-card {
		background: rgba(250, 250, 251, 0.75);
	}
}

/* Media query for project images */
@media screen and (min-width: 848px) and (max-width: 1024px) {
	.project-item img {
		max-height: 375px !important;
		scale: 0.9;
	}
}

@media screen and (max-width: 944px) {
	/* Project styles */
	.project-item:nth-child(odd) .index,
	.project-item:nth-child(even) .index {
		left: 24px;
	}

	.project-item.row-reverse,
	.project-item:nth-child(even),
	.project-item {
		flex-direction: column;
	}

	.project-items .project-item:first-child img {
		border-radius: var(--border-radius-lg);
	}

	.project-items .project-item:last-child img {
		border-radius: 0;
	}

	.project-image {
		width: 100%;
		height: 400px;
		object-position: center;
	}

	.project-text {
		width: 100%;
	}
	/* End Project styles */
}

@media screen and (max-width: 800px) {
	.project-items {
		margin-bottom: 2.25rem;
	}

	.content-header h1,
	.content-header h2 {
		text-align: center;
	}

	h1,
	.content-header h2 {
		font-size: 2.25rem;
		line-height: 42px;
	}

	.about-content-container {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: 350px 1fr;
	}

	.project-image {
		height: 350px;
	}

	/* Master styles */
	.content-container {
		margin-top: 2.25rem;
	}

	.content-header {
		margin-bottom: 2.25rem;
	}
	/* End Master styles */

	/* Nav styles */
	.nav-links {
		position: absolute;
		top: 3.5rem;
		right: 0;
		row-gap: 1.5rem;
		padding-top: 6rem;
		justify-content: flex-start;
		height: calc(100vh - 3.5rem);
		width: min(250px, 100vw);
		flex-direction: column;
		align-items: center;
		background: var(--clr-black);
		transform: translate(101%);
		z-index: 3;
	}

	.nav-links li a {
		font-size: 1.5rem;
		color: var(--clr-white-light);
	}

	.nav-links li:active a {
		color: var(--clr-white);
	}

	.nav-links li {
		opacity: 0;
	}

	li a.list-item::after {
		content: none;
	}

	.burger {
		display: block;
	}
	/* End Nav styles */

	/* Hero styles */
	.hero-container {
		justify-content: flex-end;
		align-items: flex-start;
		background: url(../src/images/hero_bg_center.jpg) no-repeat top center;
		background-size: cover;
	}

	.greet-card {
		margin: auto auto;
		width: 90vw;
	}
	/* EndHero styles */

	/* Footer styles */
	a,
	i {
		-webkit-tap-highlight-color: transparent;
	}
	/* EndFooter styles */
}

@media screen and (max-width: 500px) {
	/* Master styles */
	.content-container {
		margin-top: 1.5rem;
	}

	.content-header {
		margin-bottom: 1.5rem;
	}

	.header-underline {
		width: 165px;
	}

	.to-top {
		bottom: 0.5rem;
		right: 1rem;
		height: 2.2rem;
		width: 2.2rem;
		font-size: 1.4rem;
	}

	.to-top:hover {
		color: var(--clr-black);
		background: var(--clr-white);
	}

	.to-top:active {
		color: var(--clr-white);
		background: var(--clr-secondary);
	}

	.to-top.active {
		bottom: 0.95rem;
		opacity: 1;
		pointer-events: auto;
		animation: pulse 2s infinite;
		animation-delay: 1s;
	}
	/* End Master styles */

	/* Hero styles */
	.greet-card {
		padding: 1.5rem 1rem;
	}

	.greet-card h1 {
		font-size: 3rem;
	}

	.greet-info {
		margin: 0.5rem 0 1.5rem 0;
	}

	.greet-buttons {
		gap: 0.5rem;
	}
	/* End Hero styles */

	/* Project styles */
	.project-header {
		display: flex;
		flex-direction: column;
		margin-top: -0.5rem;
		line-height: 36px;
		margin-bottom: 1rem;
	}

	.project-image {
		height: 275px;
	}
	/* End Project styles */
}
/* End Media Queries */

/* Animations & Keyframes */
.burger-active .line-1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.burger-active .line-2 {
	opacity: 0;
}

.burger-active .line-3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

.nav-links-active {
	transform: translate(0);
	overflow-y: hidden;
}

@keyframes fade-nav-links {
	0% {
		transform: translateX(50px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fade-greet-text {
	0% {
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(121, 82, 162, 0.7);
		transform: scale(1);
	}
	70% {
		box-shadow: 0 0 0 10px rgba(131, 33, 128, 0);
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}
/* End Animations & Keyframes */
